version: '3.8'

services:

  keycloak:
    container_name: keycloak
    build: .
    command: ["start-dev", "--import-realm"]
    environment:
      KC_METRICS_ENABLED: true
      KC_REALM_NAME: learn-sec
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: password
    ports:
      - 8888:8080

  mail:
    container_name: mail
    image: schickling/mailcatcher
    ports:
      - 1080:1080
      - 1025:1025